.buttonContainer {
    display: flex;
    padding: 0.25rem;
    margin: 0;
    cursor: pointer;
    display: flex;
    color: #f1f1f1;
}

.buttonContainer:hover {
    background-color: gray;
    color: #090909;
}

.buttonContainer::before {
    content: "[";
    align-self: center;
}

.buttonContainer::after {
    content: "]";
    align-self: center;
}

.buttonContent {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.pressed {
    color: #f1d1d1 !important;
}

.buttonContent > input {
    background-color: transparent;
    color: inherit;
    border: 0;
    width: 100%;
}
.buttonContent > input:active {
    border: 0;
}
